.game {
  position:relative;
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .scene {
    position:relative;
    pointer-events: none;
    .ui, .window {
      pointer-events: all;
    }
  }
}
