
.game {
  position: relative;

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .scene {
    position: relative;
    pointer-events: none;

    .ui, .MuiPaper-root {
      pointer-events: all;
    }
  }

}

.game .MuiPaper-root, .MuiDialog-container .MuiPaper-root {
  --window-color: rgba(0, 75, 200, 0.6);
  padding: 12px;
  background-color: transparent;
  background-image: linear-gradient(0deg, var(--window-color) 0%, var(--window-color) 50%, rgba(50, 50, 50, 0.6) 100%);
  background-size: 100% 8px;
  color: #fff;
  //border-radius:0;
  border-top: 2px solid rgba(255,200,100,0.5);
  border-bottom: 2px solid rgba(255,200,100,0.5);
  &:after, &:before {
    content: '';
    position:absolute;
    left:0;
    right:0;
  }
  &:before {
    top:0;
    border-top: 2px solid rgba(255,255,255,0.2);
  }
  &:after {
    bottom:0;
    border-bottom: 2px solid rgba(255,255,255,0.2);
  }

  button, a {
    color: #fff;
  }
}
.game, .MuiDialog-container .MuiPaper-root {
  * {
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    color: rgb(255, 255, 255);
  }
}
